@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.contain {
  background-color: var(--bg);
  color: var(--textColor);
}

.dark {
  --bg: #131314;
  --bgSecondary: #1e1f20;
  --textColor: #444746;
  --softBg: #1f273a;
  --softTextColor: #a6a6a6;
}

.light {
  --bg: white;
  --bgSecondary: #f1f5f9;
  --textColor: black;
  --softBg: #f0f0f0;
  --softTextColor: #626262;
}

:root {
  min-height: 100vh;
}

/* Responsive design */
@media (min-width: 640px) {
  .contain {
    @apply sm:bg-secondary sm:text-textColor;
  }

  .dark {
    @apply sm:bg-secondary sm:text-textColor sm:soft:bg-softBg sm:soft:text-softTextColor;
  }

  .light {
    @apply sm:bg-white sm:text-black sm:soft:bg-softBg sm:soft:text-softTextColor;
  }
}

@media (min-width: 768px) {
  .contain {
    @apply md:bg-secondary md:text-textColor;
  }

  .dark {
    @apply md:bg-secondary md:text-textColor md:soft:bg-softBg md:soft:text-softTextColor;
  }

  .light {
    @apply md:bg-white md:text-black md:soft:bg-softBg md:soft:text-softTextColor;
  }
}

@media (min-width: 1024px) {
  .contain {
    @apply lg:bg-secondary lg:text-textColor;
  }

  .dark {
    @apply lg:bg-secondary lg:text-textColor lg:soft:bg-softBg lg:soft:text-softTextColor;
  }

  .light {
    @apply lg:bg-white lg:text-black lg:soft:bg-softBg lg:soft:text-softTextColor;
  }
}
